# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
macos/Flutter/ephemeral/Flutter-Generated.xcconfig
macos/Flutter/ephemeral/flutter_export_environment.sh
macos/Pods/Local Podspecs/FlutterMacOS.podspec.json
macos/Pods/Pods.xcodeproj/xcuserdata/sundayaapple.xcuserdatad/xcschemes/FlutterMacOS.xcscheme
macos/Pods/Pods.xcodeproj/xcuserdata/sundayaapple.xcuserdatad/xcschemes/Pods-Runner.xcscheme
macos/Pods/Pods.xcodeproj/xcuserdata/sundayaapple.xcuserdatad/xcschemes/xcschememanagement.plist
macos/Pods/Target Support Files/FlutterMacOS/FlutterMacOS.debug.xcconfig
macos/Pods/Target Support Files/FlutterMacOS/FlutterMacOS.release.xcconfig
macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-acknowledgements.markdown
macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-acknowledgements.plist
macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-dummy.m
macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-Info.plist
macos/Pods/Target Support Files/Pods-Runner/Pods-Runner-umbrella.h
macos/Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig
macos/Pods/Target Support Files/Pods-Runner/Pods-Runner.modulemap
macos/Pods/Target Support Files/Pods-Runner/Pods-Runner.profile.xcconfig
macos/Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig
